<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" /> 
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Shantae Saddler</h1>
 <p> Hola! I am a final year student, pursuing a degree in Computer Science with a minor in philosophy. Initially, I wanted to do adouble major but i waited to long too find something that excited me. I am a Christian, a child of God. God has been so good to me even when I don't feel it or know it. Lastly, I am the oldest and the youngest at the same time for my parents.  </p>
 <img src="{{url_for('static', filename='shanshan.jpeg')}}"/>
</body>
</html> 